---
layout: splash
---

<div class="container">

  <div class="row">
    <div class="col-md-12">
    
      <h1><a href="/"><img src="images/splash.png" class="logo" alt="DeepIndex" /></a></h1>
    
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 splash">
      
      <h2>{{ site.description | remove: "." }}</h2>
      
      <p class="lead">Here are {{ site.data.links.size }} examples of AI in action.</p>
     
      <p>
      <a target="_blank" class="btn btn-xs btn-social btn-fb" href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url | url_encode }}" title="Share on Facebook"><i class="fab fa-facebook"></i> Like</a>
      <a target="_blank" class="btn btn-xs btn-social btn-tw" href="https://twitter.com/intent/tweet?text={{ site.title | url_encode }}&url={{ page.url | prepend: site.url | url_encode }}&via={{ site.twitter }}" title="Share on Twitter"><i class="fab fa-twitter"></i> Tweet</a>
      <a target="_blank" class="btn btn-xs btn-social btn-li" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | prepend: site.url | url_encode }}" title="Share on LinkedIn"><i class="fab fa-linkedin"></i> Share</a>
      </p>
    
    </div>
    <div class="col-md-4 splash">
      <h4>Legend</h4>
      <p><img src="/images/moon-3-b.png" class="icon" alt="" /> Crushing it</p>
      <p><img src="/images/moon-2-b.png" class="icon" alt="" /> Capable</p>      
      <p><img src="/images/moon-1-b.png" class="icon" alt="" /> Getting there</p>
      <p class="visible-xs visible-sm">&nbsp;</p>
    </div>
  </div>
  

  {% assign counter = 0 %}
  
  {% assign col_count = 1 %}
  
  {% assign block_count = 1 %}
  
  {% for block in site.data.cats %}
  
    {% if col_count == 1 %}
  
      <div class="row r-div">
    
    {% endif %}
    
    {% assign group = site.data.links | where: "cat",block.cat %}
    
    {% assign counter = counter | plus: group.size %}
  
    <div class="col-md-4 c-div c-block-{{ block_count }}"><a name="{{ block.name | truncatewords: 1, "" }}"></a>

    <h3 class="c-block-{{ block_count }}"><a href="#{{ block.name | truncatewords: 1, "" }}">{{ block.name }}</a> <small>{{ group.size }}</small></h3>

    {% assign entries = group | where: "status","wins" | sort_natural: "title" %}
    {% if entries.size > 0 %}
      {% for entry in entries %}
        <p><img src="/images/moon-3-w.png" class="icon" alt="" /> <a href="{{ entry.url }}">{{ entry.title }}</a></p>
      {% endfor %} 
      <p>---</p>
    {% endif %}    
    
    {% assign entries = group | where: "status","does" | sort_natural: "title" %}
    {% if entries.size > 0 %}
      {% for entry in entries %}
        <p><img src="/images/moon-2-w.png" class="icon" alt="" /> <a href="{{ entry.url }}">{{ entry.title }}</a></p>
      {% endfor %}
      <p>---</p>
    {% endif %}

    {% assign entries = group | where: "status","near" | sort_natural: "title" %}
    {% if entries.size > 0 %}
      {% for entry in entries %}
        <p><img src="/images/moon-1-w.png" class="icon" alt="" /> <a href="{{ entry.url }}">{{ entry.title }}</a></p>
      {% endfor %}  
    {% endif %}
    
    </div>
    
    {% assign col_count = col_count | plus: 1 %}
    
    {% if col_count > 3 %}
    
      </div>
      
      {% assign col_count = 1 %}
    
    {% endif %}
    
    {% assign block_count = block_count | plus: 1 %}

  {% endfor %}
  
  
  
  {% if col_count > 1 %}
  
    {% if col_count == 2 %}
    
      <div class="col-md-4">
      </div>
    
    {% endif %}
    
    <div class="col-md-4">
    </div>
    
    </div>
    
  {% endif %}
  
  
  
  <div class="row">
    <div class="col-md-12 splash">
    
    {% include footer.html %}
    {% if counter <> site.data.links.size %}<p><small>*</small></p>{% endif %}

    </div>
  </div>
    
</div>